data/
model/checkpoint/
analyzer/wandb
model/RL/wandb
TS/data
TS/cache
TS/image
model/NTM/runs
model/NTM/text
model/recommendation/data
LightGCN-PyTorch
DeepGravity
model/GRU_itenary/wandb/
collect_data/cache/
model/recommendation/wandb
model/popularity/wandb
/model/recommendation/conv/__pycache__
 model/popularity_final/__pycache__/
/model/popularity/conv/__pycache__/
/model/recommendation/__pycache__/
model/popularity_final/conv/__pycache__/
model/popularity/__pycache__/
*.png
model/results/
model/popularity_final/wandb/
model/popularity_final/new_spot/
model/review_classification/
model/popularity_final/analysis/catboost_info/
/cache/
model/TS/cache